.animada {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease;
}

.animada.animate__animated {
    opacity: 1;
    visibility: visible;
}

body{
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}
header{
    background-image: url(../assets/header.png);
    background-size: contain;
    height: fit-content;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.navLink{
    background-color: white;
    border-radius: 1rem;
    border-color: black;
}
.navLink:hover{
    text-decoration: underline;
}

#iconos{
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ancla{
    text-decoration: none;
    color: black;
    padding: 25%;
    background-color: white;
    border-radius: 1rem;
}
.icono{
    font-size: 25px;
}
.icono:hover{
    text-decoration: underline;
}

#inicio{
    background-image: url(../assets/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
}
.divTitulo{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo{
    width: 800px;
    height: auto;
}
.hidden {
    opacity: 0; /* Oculta los elementos */
    transform: translateY(0); /* Previene movimientos inesperados */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* Para suavizar el cambio */
}

.divMuñecaUno{
    width: 30%;
}
.muñecaUno{
    width: 400px;
    height: auto;
    position: absolute;
    right: 0;
    bottom: 0;
}
.logos{
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: 1%;
    margin-left: 1%;
}
.divBarraCelesteInferior{
    width: 100vw;
    margin: 0%;
    height: 43px;
}
.barraCelesteInferior{
    width: 100vw;
    margin: 0%;
    height: auto;
}

#paginaDos{
    background-image: url(../assets/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100vh;
}
.divPaginaDosUno{
    height: 40vh;
    display: flex;
}
.textoUno{
    margin-top: 2%;
    width: auto;
    height: 30vh;
}
.divPaginaDosDos{
    height: 70vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.textoDos{
    width: auto;
    height: 50vh;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 7%;
}
.muñecoDos{
    width: auto;
    height:60vh;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 20%;
}



#equipo{
    background-image: url(../assets/fondoTres.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
#divTituloTres{
    margin-left: 5%;
    height: 25vh;
}
.tituloTres{
    margin-top: 5%;
    width: 20vw;
}
#divEquipo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 75vh;
}
#divEquipoUno{
    height: 35vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#divEquipoDos{
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#divEquipoTres{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#divEquipoCuatro{
    width: 10vw;
    display: flex;
    flex-direction: row;
    align-items: end;
}
.imgEquipo{
    height: 30vh;
}
.imgEquipoCuatro{
    padding-left: 10%;
    height: 30vh;
}
.manosTres{
    position: absolute;
    right: 0;
    width: 30vh;
}


#paginaCuatro{
    background-image: url(../assets/fondoCuatro.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#divTituloCuatro{
    margin-top: 1%;
    display: flex;
    justify-content: center;
}
.tituloCuatro{
    width: 70vw;
    height: 10vh;
}
#divPaginaCuatro{
    display: flex;
    flex-direction: column;
    height: 50vh;
}
#divComentarioUno{
    position: absolute;
    left: 0;
    padding-top: 8%;
    margin-left: 5%;
}
#divComentarioDos{
    position: absolute;
    right: 0;
    padding-top: 11%;
    margin-right: 5%;
}
#divComentarioTres{
    position: absolute;
    left: 0;
    padding-top: 14%;
    margin-left: 5%;
}
#divComentarioCuatro{
    position: absolute;
    right: 0;
    padding-top: 18%;
    margin-right: 5%;
}
.imgComentario{
   height: 10vh;
}
#divPaginaCuatroDos{
    display: flex;
    flex-direction: row;
    height: 50vh;
}
#divTarjetaComentarioUno{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 50vh;
    margin-left: 1%;
    width: 25vw;
    margin-right: 4%;
}
#divTarjetaComentarioDos{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 50vh;
    width: 25vw;
}
#divTarjetaComentarioTres{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 50vh;
    width: 25vw;
}
.imgTarjeta{
    height: 45vh;
}
#divImgMuñecaCuatro{
    display: flex;
    align-self: flex-end;
    margin-left: auto;
    margin-right: 5%;
}
#imgMuñecaCuatro{
    height: 45vh;
    display: flex;
    align-self: flex-end;
}





#sabiasQue{
    background-image: url(../assets/fondoCinco.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
#divTituloCinco{
    margin-left: 5%;
    height: 20vh;
}
.tituloCinco{
    margin-top: 2%;
    width: 20rem;
}
.divTarjeta{
    display: flex;
    justify-content: space-around;
    height: 40vh;
}
.tarjeta{
    width: auto;
    height: 30vh;
}

#graficas{
    background-image: url(../assets/fondoSeis.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divCarrusel{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.imgCarruselUnoGraficas{
    width: 70vw;
    height: auto;
    margin-top: 4%;
    display: block;
}
.imgCarruselUnoIngresos{
    width: 70vw;
    height: auto;
    margin-top: 4%;
    display: block;
}
.imgCarruselUnoOcupaciones{
    width: 70vw;
    height: auto;
    margin-top: 4%;
    display: block;
}
#buttonCarousel{
    color: black;
}
.imgCarruselDosGraficas {
    display: none;
  }

.imgCarruselDosIngresos {
    display: none;
}

.imgCarruselDosOcupaciones {
    display: none;
}

.titulito{
    display: none;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .modal-content {
    position: relative;
    background-color: white;
    padding: 20px;
    text-align: center;
    width: 70vw;
    height: 80vh;
    overflow: hidden;
    margin: auto;
  }
  
  .modal-content img {
    width: 100%;
    height: auto;
    max-height: 70vh;
    object-fit: contain; 
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: white;
    cursor: pointer;
  }
  


#estudiarRinde{
    background-image: url(../assets/fondoSiete.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
#divTituloSiete{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin: 0;
    padding: 3%;
    height: 33%;
}
.tituloSiete{
    height: 15rem;
}
.divERTarjetas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: fit-content;
    height: 33%;
}
.eRTarjetaUno{
    height: 25vh;
    margin-top: 5%;
}
.eRTarjetaDos{
    height: 25vh;
}
.eRTarjetaTres{
    height: 25vh;
    margin-bottom: 5%;
}



#paginaOcho{
    background-image: url(../assets/contactoFondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
.divPaginaOcho{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 90vh;
    align-items: center;
}
.logosDos{
    margin-right: 2%;
    position: absolute;
    right: 0;
}
@media screen and (min-width: 0px) and (max-width: 768px){
    body{
        margin: 0%;
        padding: 0%;
        overflow-x: hidden;
    }
    header{
        background-image: url(../assets/header.png);
        background-size: contain;
        width: 100vw;
        height: fit-content;
    }
    .navLink{
        background-color: white;
        border-radius: 1rem;
        border-color: black;
    }
    .navLink:hover{
        text-decoration: underline;
    }
    #iconos{
        margin-right: 5%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .ancla{
        text-decoration: none;
        color: black;
        padding: 25%;
        background-color: white;
        border-radius: 1rem;
    }
    .icono{
        font-size: 25px;
    }
    .icono:hover{
        text-decoration: underline;
    }
    #iconos{
        margin-right: 10%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }



    
    #inicio{
        background-image: url(../assets/fondo.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100vw;
        height: fit-content;
    }
    .divTitulo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: fit-content;
        margin: 0;
        padding-top: 20%;
    }
    .titulo{
        width: 90vw;
        height: auto;
        padding: 0%;
        padding-bottom: 0;
    }
    .divMuñecaUno{
        height: fit-content;
        display: flex;
        justify-content: right;
        width: 100vw;
    }
    .muñecaUno{
        width: 50vw;
        height: auto;
        position: relative;
        right: 0;
        margin-bottom: 5vh;
    }
    .divLogos{
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 100vw;
        height: fit-content;
    }
    .logos{
        position: relative;
        width: 90vw;
        height: auto;
        left: auto;
    }
    .divBarraCelesteInferior{
        width: 100vw;
        height: fit-content;
        margin: 0;
        padding: 0;
    }
    .barraCelesteInferior{
        width: 100vw;
        height: 5vh;
        margin: 0;
        padding: 0;
    }
    


    #paginaDos{
        background-image: url(../assets/fondo.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        height: 70vh;
    }
    .divPaginaDosUno{
        height: 30vh;
        display: flex;
        justify-content: flex-start;
    }
    .textoUno{
        margin-top: 5%;
        width: 80vw;
        height: auto;
    }
    .divPaginaDosDos{
        height: 60vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-end;
    }
    .textoDos{
        width: 70vw;
        height: auto;
        position: relative;
        bottom: 0;
        right: 0;
        margin-right: 0;
    }
    .muñecoDos{
        width: 25vw;
        height: auto;
        position: relative;
        bottom: 0;
        left: 0;
        margin-left: 0%;
    }
    #equipo{
        width: 100%;
        height: 100vh;
        padding: 3rem;
    }
    #imgCarrusel{
        width: 80vw;
        height: 80vh;
    }




    #equipo{
        background-image: url(../assets/fondoTresCel.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        height: fit-content;
        padding: 0%;
    }
    #divTituloTres{
        display: flex;
        justify-content: center;
        margin-left: 0%;
        height: fit-content;
    }
    .tituloTres{
        margin-top: 5vh;
        margin-bottom: 5vh;
        width: 60vw;
        height: auto;
    }
    #divEquipo{
        height: fit-content;
    }
    #divEquipoUno{
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    #divEquipoDos{
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    #divEquipoTres{
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 5vh;
        padding-bottom: 10vh;
    }
    #divEquipoCuatro{
        width: 10vw;
        display: flex;
        flex-direction: row;
        align-items: end;
    }
    .imgEquipo{
        width: 30vw;
        height: auto;
    }
    .imgEquipoCuatro{
        margin-left: 10vw;
        padding-left: 0;
        width: 30vw;
        height: auto;
    }
    .manosTres{
        position: absolute;
        right: 0;
        width: 30vw;
    }
    #divManosTres{
        height: 20vh;
        display: flex;
        align-items: end;
        justify-content: end;
    }





    #paginaCuatro{
        background-image: url(../assets/fondoCuatro.png);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: fit-content;
    }
    #divTituloCuatro{
        display: flex;
        justify-content: center;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
    .tituloCuatro{
        width: 90vw;
        height: auto;
    }
    #divPaginaCuatro{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: fit-content;
    }
    #divComentarioUno{
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        height: fit-content;
        position: relative;
        left: auto;
        padding-top: 1%;
        margin-left: 0;
        margin-right: 0;
    }
    .flechaCuatro{
        transform: rotate(90deg);
        height: 5rem;
    }
    #divComentarioDos{
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        height: fit-content;
        position: relative;
        right: auto;
        padding-top: 1%;
        margin-left: 0;
        margin-right: 0;
    }
    #divComentarioTres{
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        height: fit-content;
        position: relative;
        left: auto;
        padding-top: 1%;
        margin-left: 0;
        margin-right: 0;
    }
    #divComentarioCuatro{
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        height: fit-content;
        position: relative;
        right: auto;
        padding-top: 1%;
        margin-left: 0;
        margin-right: 0;
    }
    .imgComentario{
       width: 80vw;
       height: auto;
    }
    #divPaginaCuatroDos{
        display: flex;
        flex-direction: row;
        height: fit-content;
        justify-content: center;
        align-items: flex-end;
    }
    #divTarjetaComentarioUno{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: fit-content;
        margin-left: 1%;
        width: 25vw;
        margin-right: 4%;
    }
    #divTarjetaComentarioDos{
        display: flex;
        justify-content: center;
        align-items: center;
        height: fit-content;
        width: 25vw;
    }
    #divTarjetaComentarioTres{
        display: flex;
        justify-content: center;
        align-items: center;
        height: fit-content;
        width: 25vw;
    }
    .imgTarjeta{
        height: auto;
        width: 20vw;
    }
    #divImgMuñecaCuatro{
        display: flex;
        align-self: flex-end;
        margin-left: auto;
        margin-right: 1%;
    }
    #imgMuñecaCuatro{
        width: 20vw;
        height: auto;
        display: flex;
        align-self: flex-end;
    }
    





    #sabiasQue{
        background-image: url(../assets/fondoTresCel.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        height: fit-content;
    }
    #divTituloCinco{
        display: flex;
        justify-content: center;
        margin-left: 0%;
        margin-bottom: 5%;
        height: fit-content;
    }
    .tituloCinco{
        margin-top: 5vh;
        margin-bottom: 5vh;
        width: 60vw;
        height: auto;

    }
    .divTarjeta{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: fit-content;
        padding-bottom: 10vh;
    }
    .tarjeta{
        padding: 2%;
        width: 30vw;
        height: auto;
    }




    #graficas{
        background-image: url(../assets/fondoSeis.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100vw;
        height: fit-content;
        padding: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .divCarrusel{
        width: 100vw;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .imgCarruselDosGraficas{
        width: 80vw;
        height: auto;
        margin-top: 3%;
        display: block;
    }
    .imgCarruselDosIngresos{
        width: 80vw;
        height: auto;
        margin-top: 3%;
        display: block;
    }
    .imgCarruselDosOcupaciones{
        width: 80vw;
        height: auto;
        margin-top: 3%;
        display: block;
    }
    #buttonCarousel{
        color: black;
    }
    .imgCarruselUnoGraficas {
        display: none;
      }
      .imgCarruselUnoIngresos {
        display: none;
      }
      .imgCarruselUnoOcupaciones {
        display: none;
      }
    .titulito{
        width: 70vw;
        display: block;
        height: auto;
    }
    .modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
      }
      
      .modal-content {
        position: relative;
        background-color: white;
        padding: 20px;
        text-align: center;
        width: 95vw;
        height: fit-content;
        overflow: hidden;
        margin: auto;
      }
      
      .modal-content img {
        width: 100%;
        height: auto;
        object-fit: contain; 
      }
      
      .close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 24px;
        color: white;
        cursor: pointer;
      }



    #estudiarRinde{
        background-image: url(../assets/fondoSiete.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100vw;
        height: fit-content;
    }
    #divTituloSiete{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: fit-content;
        width: 100vw;
        margin: 0;
        padding: 0%;
    }
    .tituloSiete{
        width: 70vw;
        height: auto;
    }
    .divERTarjetas{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: fit-content;
        padding-top: 10vh;
        padding-bottom: 10vh;
    }
    .eRTarjetaUno{
        width: 30vw;
        height: auto;
        margin-top: 0%;
        margin-bottom: 0%;
        padding: 1%;
    }
    .eRTarjetaDos{
        width: 30vw;
        height: auto;
        margin-bottom: 0%;
        padding: 1%;
    }
    .eRTarjetaTres{
        width: 30vw;
        height: auto;
        margin-bottom: 0%;
        padding: 1%;
    }
    


    #paginaOcho{
        background-image: url(../assets/contactoFondo.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100vw;
        height: fit-content;
    }
    .divPaginaOcho{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: fit-content;
        padding-top: 10vh;
        padding-bottom: 10vh;
    }
    .divLogosDos{
        display: flex;
        justify-content: center;
        width: 100vw;
    }
    .logosDos{
        position: relative;
        width: 90vw;
        height: auto;
        right: auto;
        margin: 0%;
        margin-bottom: 1%;
    }
    .imgPaginaOcho{
        width: 80vw;
    }
    .imgPaginaOchoDos{
        transform: rotate(45deg);
        width: 20vw;
        margin-top: 5%;
        margin-bottom: 5%;
    }
}