.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
body{
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}
header{
    background-image: url(../assets/header.png);
    background-size: contain;
    height: fit-content;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.navLink{
    background-color: white;
    border-radius: 1rem;
    border-color: black;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 0.3rem;
}
.navLink:hover{
    text-decoration: underline;
}

#iconos{
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ancla{
    text-decoration: none;
    color: black;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 12%;
    padding-bottom: 12%;
    background-color: white;
    border-radius: 1rem;
    margin-left: 0.3rem;
}
.icono{
    font-size: 25px;
}
.icono:hover{
    text-decoration: underline;
}


#inicio{
    background-image: url(../assets/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
}
.divTitulo{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo{
    width: 50vw;
    height: auto;
}

.divMuñecaInicio{
    width: 30%;
}
.muñecaInicio{
    width: auto;
    height: 70vh;
    position: absolute;
    right: 0;
    bottom: 0;
}
.logosUdelar{
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: 1%;
    margin-left: 1%;
    width: 50vw;
}



.divBarraCelesteInferior{
    width: 100vw;
    margin: 0%;
    height: 6vh;
}
.barraCelesteInferior{
    width: 100vw;
    margin: 0%;
    height: auto;
}



#quienesSomos{
    background-image: url(../assets/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100vh;
    scroll-margin-top: 5vh;
}
.divQuienesSomosUno{
    height: 40vh;
    display: flex;
    align-items: center;
}
.vectorQuienesSomosUno{
    width: 10vw;
    height: fit-content;
}
.divQuienesSomosTres{
    position: relative;
    display: inline-block;
    width: fit-content;
    height: fit-content;
}
.imgQuienesSomosUno{
    margin-top: 2%;
    width: auto;
    height: 30vh;
}
.divQuienesSomosDos{
    height: 70vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.imgQuienesSomosDos{
    width: auto;
    height: 50vh;
}
.divMuñecoQuienesSomos{
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.muñecoQuienesSomos{
    width: auto;
    height: 60vh;
}
.divQuienesSomosCuatro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
}
.divQuienesSomosCinco{
    position: relative;
    display: inline-block;
    width: fit-content;
    height: fit-content;
}
.textoQuienesSomos{
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    text-align: center;
    padding: 0; 
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 2vw;
    width: 95%;
}


#equipo{
    background-image: url(../assets/fondoTres.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0%;
    padding: 0%;
}
    #divTituloEquipo{
        display: flex;
        align-items: center;
        height: 20vh;
        margin-left: 0%;
    }
    .divTituloEquipoDos{
        position: relative;
        display: inline-block;
        margin-left: 0%;
        width: fit-content;
        height: fit-content;
        margin-top: 2%;
    }
    .imgTituloEquipo{
        display: block;
        margin-top: 5vh;
        margin-bottom: 5vh;
        width: 60vw;
        height: auto;
    }
    .textoTituloEquipo{
        position: absolute;
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%);
        color: black; 
        text-align: center;
        padding: 0; 
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        font-size: 4vw;
        width: 100%;
    }
#divTituloEquipo{
    height: 25vh;
    display: flex;
    align-items: center;
}
.divTituloEquipoDos{
    position: relative;
    display: inline-block;
    margin-left: 5%;
    width: fit-content;
    height: fit-content;
    margin-top: 2%;
}
.imgTituloEquipo{
    display: block;
    width: 20vw;
}
.textoTituloEquipo{
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    color: black; 
    text-align: center;
    padding: 0; 
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-size: 2vw;
    width: 100%;
}
#divEquipo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 75vh;
}
#divEquipoIntegrantesUno{
    height: 35vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#divEquipoIntegrantesDos{
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#divEquipoIntegrantesTres{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#divManosEquipo{
    width: 10vw;
    display: flex;
    flex-direction: row;
    align-items: end;
}
.equipo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.equipoCuatro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 12%;
}
.imgEquipo{
    height: 27vh;
    margin-bottom: 3%;
}
.divNombreEquipo{
    position: relative;
    display: inline-block;
    width: fit-content;
    height: fit-content;
}
.imgNombreEquipo{
    display: block;
    width: 12vw;
    height: fit-content;
}
.nombreEquipo{
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    text-align: center;
    padding: 0; 
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 1vw;
    width: 100%;
}
.imgManosEquipo{
    position: absolute;
    right: 0;
    width: 30vh;
}


#preguntas{
    background-image: url(../assets/fondoCuatro.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#divTituloPreguntas{
    display: flex;
    justify-content: center;
}
.divTituloPreguntasDos{
    position: relative;
    display: inline-block;
    width: fit-content;
    height: fit-content;
    margin-top: 1%;
}
.imgTituloPreguntas{
    display: block;
    width: 60vw;
    height: 10vh;
}
.textoTituloPreguntas{
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    text-align: center;
    padding: 0; 
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-size: 2vw;
    width: 100%;
}
#divPreguntas{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
#divPreguntaUno{
    display: flex;
    position: absolute;
    left: 0;
    margin-top: 15vh;
    margin-left: 3%;
}
#divPreguntaDos{
    display: flex;
    position: absolute;
    right: 0;
    margin-top: 30vh;
    margin-right: 5%;
}
#divPreguntaTres{
    display: flex;
    position: absolute;
    left: 0;
    margin-top: 45vh;
    margin-left: 3%;
}
#divPreguntaCuatro{
    display: flex;
    position: absolute;
    right: 0;
    margin-top: 63vh;
    margin-right: 5%;
}
.divChicoPreguntas{
    position: relative;
    display: inline-block;
    width: 100%;
    height: fit-content;
}
.textoPreguntas{
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    text-align: center;
    padding: 0; 
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-size: 1vw;
    width: 100%;
}
.imgPregunta{
   height: 25vh;
}
.pregunta{
    display: block;
    width: 35vw;
}
.imgPreguntaCuatro{
    height: 30vh;
 }


#sabiasQue{
    background-image: url(../assets/fondoCinco.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    scroll-margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#divTituloSabiasQue{
    position: relative;
    display: inline-block;
    margin-left: 5%;
    width: fit-content;
}
.imgTituloSabiasQue{
    display: block;
    width: 25vw;
}
.textoTituloSabiasQue{
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    color: black; 
    text-align: center;
    padding: 0; 
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-size: 2vw;
    width: 100%;
}
.divTarjetaSabiasQue{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40vh;
}
.divTarjetasSabiasQueDos{
    position: relative;
    display: inline-block;
}
.tarjetaSabiasQue{
    width: auto;
    height: 30vh;
}
.textoSabiasQueTarjetas{
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    text-align: center;
    padding: 15px; 
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 3vh;
    width: 95%;
}



#graficas{
    background-image: url(../assets/fondoSeis.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divCarrusel{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divGrafica{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}
.divTituloGraficas{
    position: relative;
    display: inline-block;
    width: fit-content;
}
.imgTituloGraficaChico{
    display: block;
    width: 15vw;
    height: fit-content;
}
.textoTituloGraficas{
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    color: black; 
    text-align: center;
    padding: 0; 
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-size: 1vw;
    width: 100%;
}
.grafica{
    width: 50vw;
    height: fit-content;
}
.verGrafico{
    font-family: "Poppins", sans-serif;
    margin-bottom: 1%;
}
.imgComentarioDesempleo{
    width: 30vw;
    height: fit-content;
}
.divTarjetasGraficas{
    width: 20vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}
.contenedorTarjetas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.divComentarioGraficasDesempleo{
    position: relative;
    display: inline-block;
    width: fit-content;
}
.divComentarioGraficas{
    position: relative;
    display: inline-block;
    width: fit-content;
    margin-bottom: 5%;
}
.textoComentarioGraficas{
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    color: black; 
    text-align: center;
    padding: 0; 
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1vw;
    width: 100%;
}
.imgComentarioGraficas{
    display: block;
    width: 20vw;
    height: fit-content;
}
.divComentarioGraficasTarjetas{
    position: relative;
    display: inline-block;
    width: fit-content;
    margin-bottom: 5%;
}
.imgTarjetasGraficas{
    display: block;
    width: 15vw;
    height: fit-content;
}
.parrafoGraficas{
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    text-align: center;
    padding: 0; 
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1vw;
    width: 95%;
    margin: 0;
}
#buttonCarousel{
    color: black;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .modal-content {
    position: relative;
    background-color: white;
    padding: 20px;
    text-align: center;
    width: 70vw;
    height: 80vh;
    overflow: hidden;
    margin: auto;
  }
  
  .modal-content img {
    width: 100%;
    height: auto;
    max-height: 70vh;
    object-fit: contain; 
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: white;
    cursor: pointer;
  }
  


#estudiarRinde{
    background-image: url(../assets/fondoSiete.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    scroll-margin-top: 5vh;
}
#divTituloER{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin: 0;
    padding: 3%;
    height: 33vh;
}
.tituloER{
    height: 30vh;
}
.divERTarjetas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: fit-content;
    height: 33vh;
}
.divERTarjetasDos{
    position: relative;
    display: inline-block;
}
.eRTarjetaUno{
    display: block;
    height: 25vh;
    margin-top: 5%;
}
.eRTarjetaDos{
    display: block;
    height: 25vh;
}
.eRTarjetaTres{
    display: block;
    height: 25vh;
    margin-bottom: 5%;
}
.textoERTarjetas{
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    text-align: center;
    padding: 15px; 
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 3vh;
    width: 95%;
}
.hover-effect{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 2vh;
    width: 95%;
}


#contacto{
    background-image: url(../assets/contactoFondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
.divContacto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 90vh;
    width: 100vw;
    align-items: center;
}
.divContactoDos{
    position: relative;
    display: inline-block;
}
.imgContacto{
    width: 42vw;
}
.imgContactoDos{
    width: 10vw;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 1%;
}
.imgContactoTres{
    display: block;
    width: 42vw;
}
.divTextosContacto{
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    text-align: center;
    padding: 15px; 
}
.textoContactoUno{
    color: white;
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
}
.textoContactoDos{
    color: white;
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
}
.textoContactoDos:hover{
    text-decoration: underline;
}
.logosFooterUdelar{
    margin-right: 2%;
    position: absolute;
    right: 0;
    width: 50vw;
}
@media screen and (min-width: 481px) and (max-width: 768px){
    body{
        margin: 0%;
        padding: 0%;
        overflow-x: hidden;
    }
    header{
        background-image: url(../assets/header.png);
        background-size: contain;
        width: 100vw;
        height: fit-content;
    }
    .navLink{
        background-color: white;
        border-radius: 1rem;
        border-color: black;
    }
    .navLink:hover{
        text-decoration: underline;
    }
    #iconos{
        margin-right: 10%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .ancla{
        text-decoration: none;
        color: black;
        padding: 15%;
        width: fit-content;
        background-color: white;
        border-radius: 1rem;
        margin-right: 10%;
    }
    .icono{
        font-size: 25px;
    }
    .icono:hover{
        text-decoration: underline;
    }

    
    #inicio{
        background-image: url(../assets/fondo.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100vw;
        height: fit-content;
    }
    .divTitulo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: fit-content;
        margin: 0;
        padding-top: 20%;
    }
    .titulo{
        width: 90vw;
        height: auto;
        padding: 0%;
        padding-bottom: 0;
    }
    .divMuñecaInicio{
        height: fit-content;
        display: flex;
        justify-content: right;
        width: 100vw;
    }
    .muñecaInicio{
        width: 50vw;
        height: auto;
        position: relative;
        right: 0;
        margin-bottom: 5vh;
    }
    .divLogosUdelar{
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 100vw;
        height: fit-content;
    }
    .logosUdelar{
        position: relative;
        width: 90vw;
        height: auto;
        left: auto;
    }
    .divBarraCelesteInferior{
        width: 100vw;
        height: fit-content;
        margin: 0;
        padding: 0;
    }
    .barraCelesteInferior{
        width: 100vw;
        height: 5vh;
        margin: 0;
        padding: 0;
    }
    


    #quienesSomos{
        background-image: url(../assets/fondo.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        height: fit-content;
    }
    .divQuienesSomosUno{
        height: fit-content;
        display: flex;
        justify-content: flex-start;
        margin-top: 5%;
    }
    .vectorQuienesSomosUno{
        width: 15vw;
        height: auto;
    }
    .imgQuienesSomosUno{
        width: 80vw;
        height: auto;
        margin: 0;
    }
    .divQuienesSomosDos{
        height: 60vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-end;
    }
    .imgQuienesSomosDos{
        width: 60vw;
        height: auto;
    }
    .divMuñecoQuienesSomos{
        width: 30vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .muñecoQuienesSomos{
        width: 20vw;
        height: auto;
        margin-left: 0%;
    }
    #imgCarrusel{
        width: 80vw;
        height: 80vh;
    }
    .divQuienesSomosTres{
        position: relative;
        display: inline-block;
        width: fit-content;
        height: fit-content;
    }
    .divQuienesSomosCuatro{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 70vw;
    }
    .textoQuienesSomos{
        position: absolute;
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%);
        color: white; 
        text-align: center;
        padding: 0; 
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 3vw;
        width: 95%;
        margin: 0;
    }


    #equipo{
        background-image: url(../assets/fondoTresCel.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        height: fit-content;
        padding: 0%;
    }
    #divTituloEquipo{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20vh;
        margin-left: 0%;
    }
    .divTituloEquipoDos{
        position: relative;
        display: inline-block;
        margin-left: 0%;
        width: fit-content;
        height: fit-content;
        margin-top: 2%;
    }
    .imgTituloEquipo{
        display: block;
        margin-top: 5vh;
        margin-bottom: 5vh;
        width: 60vw;
        height: auto;
    }
    .textoTituloEquipo{
        position: absolute;
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%);
        color: black; 
        text-align: center;
        padding: 0; 
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        font-size: 4vw;
        width: 100%;
    }
    #divEquipo{
        height: fit-content;
    }
    #divEquipoIntegrantesUno{
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    #divEquipoIntegrantesDos{
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    #divEquipoIntegrantesTres{
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 5vh;
        padding-bottom: 5vh;
    }
    .equipo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .equipoCuatro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0%;
    }
    .imgEquipo{
        height: 20vh;
        margin-bottom: 3%;
    }
    .divNombreEquipo{
        position: relative;
        display: inline-block;
        width: fit-content;
        height: fit-content;
    }
    .imgNombreEquipo{
        display: block;
        width: 30vw;
        height: fit-content;
    }
    .nombreEquipo{
        position: absolute;
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%);
        color: white; 
        text-align: center;
        padding: 0; 
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size:3vw;
        width: 100%;
    }
    .imgManosEquipo{
        position: absolute;
        right: 0;
        width: 30vw;
    }
    #divManosEquipo{
        height: 20vh;
        display: flex;
        align-items: end;
        justify-content: end;
    }



    #preguntas{
        background-image: url(../assets/fondoCuatro.png);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        height: fit-content;
    }
    #divTituloPreguntas{
        display: flex;
        justify-content: center;
    }
    .divTituloPreguntasDos{
        position: relative;
        display: inline-block;
        width: fit-content;
        height: fit-content;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
    .imgTituloPreguntas{
        display: block;
        width: 90vw;
        height: auto;
    }
    .textoTituloPreguntas{
        position: absolute;
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%);
        color: white; 
        text-align: center;
        padding: 0; 
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        font-size: 3vw;
        width: 100%;
    }
    #divPreguntas{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: fit-content;
    }
    #divPreguntaUno{
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        height: fit-content;
        position: relative;
        left: auto;
        margin-top: 5vh;
        margin-left: 0;
        margin-right: 0;
    }
    #divPreguntaDos{
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        height: fit-content;
        position: relative;
        right: auto;
        margin-top: 5vh;
        margin-left: 0;
        margin-right: 0;
    }
    #divPreguntaTres{
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        height: fit-content;
        position: relative;
        left: auto;
        margin-top: 5vh;
        margin-left: 0;
        margin-right: 0;
    }
    #divPreguntaCuatro{
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        height: fit-content;
        position: relative;
        right: auto;
        margin-top: 5vh;
        margin-left: 0;
        margin-right: 0;
    }
    .divChicoPreguntas{
        position: relative;
        display: inline-block;
        width: 100%;
        height: fit-content;
    }
    .textoPreguntas{
        position: absolute;
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%);
        color: white; 
        text-align: center;
        padding: 0; 
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        font-size: 2vw;
        width: 100%;
    }
    .imgPregunta{
        width: 35vw;
       height: auto;
    }
    .pregunta{
        display: block;
        width: 60vw;
    }
    .imgPreguntaCuatro{
        height: 30vh;
     }
 
    #sabiasQue{
        background-image: url(../assets/fondoTresCel.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #divTituloSabiasQue{
        position: relative;
        display: inline-block;
        margin-left: 0%;
        margin-bottom: 5%;
        width: fit-content;
        height: fit-content;
    }
    .imgTituloSabiasQue{
        display: block;
        margin-top: 5vh;
        margin-bottom: 5vh;
        width: 60vw;
        height: auto;
    }
    .textoTituloSabiasQue{
        position: absolute;
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%);
        color: black; 
        text-align: center;
        padding: 0; 
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        font-size: 4vw;
        width: 100%;
    }
    .divTarjetaSabiasQue{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: fit-content;
        height: fit-content;
        padding-bottom: 15vh;
    }
    .tarjetaSabiasQue{
        padding: 2%;
        width: 30vw;
        height: auto;
    }
    .textoSabiasQueTarjetas{
        position: absolute;
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%);
        color: white; 
        text-align: center;
        padding: 0; 
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 3vw;
        width: 100%;
        padding: 1px;
    }




    #graficas{
        background-image: url(../assets/fondoSeis.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100vw;
        height: fit-content;
        padding-top: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        scroll-margin-top: 5vh;
    }
    .divCarrusel{
        width: 100vw;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .divTituloGraficas{
        position: relative;
        display: inline-block;
        width: fit-content;
        margin-bottom: 15%;
    }
    .imgTituloGraficaChico{
        width: 50vw;
        display: block;
        height: auto;
    }
    .textoTituloGraficas{
        position: absolute;
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%);
        color: black; 
        text-align: center;
        padding: 0; 
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        font-size: 3vw;
        width: 100%;
        margin: 0;
    }
    .grafica{
        width: 80vw;
        height: fit-content;
        margin-bottom: 3%;
    }
    .verGrafico{
        font-family: "Poppins", sans-serif;
        margin-bottom: 1%;
        font-size: 2vw;
    }
    .divComentarioGraficasDesempleo{
        position: relative;
        display: inline-block;
        width: fit-content;
    }
    .imgComentarioDesempleo{
        width: 60vw;
        height: fit-content;
    }
    .divTarjetasGraficas{
        width: 20vw;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 3%;
    }
    .divComentarioGraficas{
        position: relative;
        display: inline-block;
        width: fit-content;
        margin-bottom: 15%;
    }
    .imgComentarioGraficas{
        display: block;
        width: 50vw;
        height: fit-content;
        margin: 0;
    }
    .textoComentarioGraficas{
        position: absolute;
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%);
        color: black; 
        text-align: center;
        padding: 0; 
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 2vw;
        width: 100%;
        margin: 0;
    }
    .contenedorTarjetas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .divComentarioGraficasTarjetas{
        position: relative;
        display: inline-block;
        width: fit-content;
        margin-bottom: 5%;
    }
    .imgTarjetasGraficas{
        display: block;
        width: 30vw;
        height: auto;
        margin-left: 1%;
        margin-right: 1%;
    }
    .parrafoGraficas{
        position: absolute;
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%);
        color: white; 
        text-align: center;
        padding: 0; 
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 2vw;
        width: 95%;
        margin: 0;
    }
    #buttonCarousel{
        color: black;
    }
    .modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
      }
      
      .modal-content {
        position: relative;
        background-color: white;
        padding: 20px;
        text-align: center;
        width: 95vw;
        height: fit-content;
        overflow: hidden;
        margin: auto;
      }
      
      .modal-content img {
        width: 100%;
        height: auto;
        object-fit: contain; 
      }
      
      .close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 24px;
        color: white;
        cursor: pointer;
      }



    #estudiarRinde{
        background-image: url(../assets/fondoSiete.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100vw;
        height: fit-content;
    }
    #divTituloER{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: fit-content;
        width: 100vw;
        margin: 0;
        padding: 0%;
    }
    .tituloER{
        width: 70vw;
        height: auto;
    }
    .divERTarjetas{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: fit-content;
        padding-top: 10vh;
        padding-bottom: 10vh;
    }
    .eRTarjetaUno{
        width: 30vw;
        height: auto;
        margin-top: 0%;
        margin-bottom: 0%;
        padding: 1%;
    }
    .eRTarjetaDos{
        width: 30vw;
        height: auto;
        margin-bottom: 0%;
        padding: 1%;
    }
    .eRTarjetaTres{
        width: 30vw;
        height: auto;
        margin-bottom: 0%;
        padding: 1%;
    }
    .textoERTarjetas{
        position: absolute;
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%);
        color: white; 
        text-align: center;
        padding: 0; 
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 3vw;
        width: 100%;
        padding: 1px;
        word-wrap: break-word;
    }
    .hover-effect{
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 2vw;
        width: 95%;
        padding: 2px;
    }


    #contacto{
        background-image: url(../assets/contactoFondo.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100vw;
        height: fit-content;
    }
    .divContacto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: fit-content;
        padding-top: 10vh;
        padding-bottom: 10vh;
    }
    .divLogosFooterUdelar{
        display: flex;
        justify-content: center;
        width: 100vw;
    }
    .logosFooterUdelar{
        position: relative;
        width: 90vw;
        height: auto;
        right: auto;
        margin: 0%;
        margin-bottom: 1%;
    }
    .imgContacto{
        width: 80vw;
    }
    .imgContactoTres{
        width: 80vw;
    }
    .imgContactoDos{
        transform: rotate(45deg);
        width: 20vw;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .divContactoDos{
        position: relative;
        display: inline-block;
    }
    .divTextosContacto{
        position: absolute;
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%);
        color: white; 
        text-align: center;
        padding: 15px; 
    }
    .textoContactoUno{
        color: white;
        text-decoration: none;
        font-size: large;
        font-weight: bold;
    }
    .textoContactoDos{
        color: white;
        text-decoration: none;
        font-size: large;
        font-weight: bold;
    }
    .textoContactoDos:hover{
        text-decoration: underline;
    }
}
@media screen and (min-width: 321px) and (max-width: 480px) {
    body{
        margin: 0%;
        padding: 0%;
        overflow-x: hidden;
    }
    header{
        background-image: url(../assets/header.png);
        background-size: contain;
        width: 100vw;
        height: fit-content;
    }
    .navLink{
        background-color: white;
        border-radius: 1rem;
        border-color: black;
    }
    .navLink:hover{
        text-decoration: underline;
    }
    #iconos{
        margin-right: 10%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .ancla{
        text-decoration: none;
        color: black;
        padding: 15%;
        width: fit-content;
        background-color: white;
        border-radius: 1rem;
        margin-right: 10%;
    }
    .icono{
        font-size: 25px;
    }
    .icono:hover{
        text-decoration: underline;
    }

    
    #inicio{
        background-image: url(../assets/fondo.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100vw;
        height: fit-content;
    }
    .divTitulo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: fit-content;
        margin: 0;
        padding-top: 20%;
    }
    .titulo{
        width: 90vw;
        height: auto;
        padding: 0%;
        padding-bottom: 0;
        margin-top: 10vh;
    }
    .divMuñecaInicio{
        height: fit-content;
        display: flex;
        justify-content: right;
        width: 100vw;
        margin-top: 10vh;
    }
    .muñecaInicio{
        width: 50vw;
        height: auto;
        position: relative;
        right: 0;
        margin-bottom: 5vh;
    }
    .divLogosUdelar{
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 100vw;
        height: fit-content;
    }
    .logosUdelar{
        position: relative;
        width: 90vw;
        height: auto;
        left: auto;
    }
    .divBarraCelesteInferior{
        width: 100vw;
        height: fit-content;
        margin: 0;
        padding: 0;
    }
    .barraCelesteInferior{
        width: 100vw;
        height: 5vh;
        margin: 0;
        padding: 0;
    }
    


    #quienesSomos{
        background-image: url(../assets/fondo.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        height: fit-content;
    }
    .divQuienesSomosUno{
        height: fit-content;
        display: flex;
        justify-content: flex-start;
        padding-top: 5%;
    }
    .vectorQuienesSomosUno{
        width: 15vw;
        height: auto;
    }
    .imgQuienesSomosUno{
        margin-top: 0%;
        width: 80vw;
        height: auto;
    }
    .divQuienesSomosDos{
        height: 50vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-end;
    }
    .imgQuienesSomosDos{
        width: 70vw;
        height: auto;
        position: relative;
        bottom: 0;
        right: 0;
        margin-right: 0;
    }
    .divMuñecoQuienesSomos{
        width: 20vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .muñecoQuienesSomos{
        width: 25vw;
        height: auto;
        position: relative;
        bottom: 0;
        left: 0;
        margin-left: 0%;
    }
    #imgCarrusel{
        width: 80vw;
        height: 80vh;
    }
    .divQuienesSomosTres{
        position: relative;
        display: inline-block;
        width: fit-content;
        height: fit-content;
    }
    .divQuienesSomosCuatro{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80vw;
    }
    .textoQuienesSomos{
        position: absolute;
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%);
        color: white; 
        text-align: center;
        padding: 0; 
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 4vw;
        width: 95%;
    }
    .vectorQuienesSomosDos{
        height: 5vh;
    }



    #equipo{
        background-image: url(../assets/fondoTresCel.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        height: 90vh;
        padding: 0%;
    }
    #divTituloEquipo{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20vh;
        margin-left: 0%;
    }
    .divTituloEquipoDos{
        position: relative;
        display: inline-block;
        margin-left: 0%;
        width: fit-content;
        height: fit-content;
        margin-top: 2%;
    }
    .imgTituloEquipo{
        display: block;
        margin-top: 5vh;
        margin-bottom: 5vh;
        width: 60vw;
        height: auto;
    }
    .textoTituloEquipo{
        position: absolute;
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%);
        color: black; 
        text-align: center;
        padding: 0; 
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        font-size: 4vw;
        width: 100%;
    }
    #divEquipo{
        height: 70vh;
    }
    #divEquipoIntegrantesUno{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 20vh;
        margin-top: 5vh;
    }
    #divEquipoIntegrantesDos{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end; 
        height: 50vh;
    }
    #divEquipoIntegrantesTres{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100vw;
        padding-top: 0;
        padding-bottom: 5vh;
    }
    .imgEquipo{
        width: 30vw;
        height: auto;
    }
    .equipoCuatro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0%;
    }
    .imgNombreEquipo{
        display: block;
        width: 30vw;
        height: fit-content;
    }
    .nombreEquipo{
        position: absolute;
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%);
        color: white; 
        text-align: center;
        padding: 0; 
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 3vw;
        width: 100%;
    }
    #divManosEquipo{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end; 
        width: 100vw;
        height: 15vh;
    }
    .imgManosEquipo{
        position: absolute;
        right: 0;
        width: 30vw;
    }



    #preguntas{
        background-image: url(../assets/fondoCuatro.png);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: fit-content;
    }
    #divTituloPreguntas{
        display: flex;
        justify-content: center;
    }
    .divTituloPreguntasDos{
        position: relative;
        display: inline-block;
        width: fit-content;
        height: fit-content;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
    .imgTituloPreguntas{
        display: block;
        width: 90vw;
        height: auto;
    }
    .textoTituloPreguntas{
        position: absolute;
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%);
        color: white; 
        text-align: center;
        padding: 0; 
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        font-size: 3vw;
        width: 100%;
    }
    #divPreguntas{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: fit-content;
    }
    #divPreguntaUno{
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        height: fit-content;
        position: relative;
        left: auto;
        margin-top: 5vh;
        margin-left: 0;
        margin-right: 0;
    }
    .flechaCuatro{
        transform: rotate(90deg);
        height: 5rem;
    }
    #divPreguntaDos{
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        height: fit-content;
        position: relative;
        right: auto;
        margin-top: 5vh;
        margin-left: 0;
        margin-right: 0;
    }
    #divPreguntaTres{
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        height: fit-content;
        position: relative;
        left: auto;
        margin-top: 5vh;
        margin-left: 0;
        margin-right: 0;
    }
    #divPreguntaCuatro{
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        height: fit-content;
        position: relative;
        right: auto;
        margin-top: 5vh;
        margin-left: 0;
        margin-right: 0;
    }
    .divChicoPreguntas{
        position: relative;
        display: inline-block;
        width: 100%;
        height: fit-content;
    }
    .textoPreguntas{
        position: absolute;
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%);
        color: white; 
        text-align: center;
        padding: 0; 
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        font-size: 2vw;
        width: 100%;
    }
    .imgPregunta{
        width: 35vw;
       height: auto;
    }
    .pregunta{
        display: block;
        width: 60vw;
    }
    .imgPreguntaCuatro{
        height: 30vh;
     }

    #sabiasQue{
        background-image: url(../assets/fondoTresCel.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #divTituloSabiasQue{
        position: relative;
        display: inline-block;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0%;
        margin-bottom: 5%;
        padding: 10%;
        width: fit-content;
        height: fit-content;
    }
    .imgTituloSabiasQue{
        display: block;
        margin-top: 5vh;
        margin-bottom: 5vh;
        width: 60vw;
        height: auto;

    }
    .textoTituloSabiasQue{
        position: absolute;
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%);
        color: black; 
        text-align: center;
        padding: 0; 
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        font-size: 4vw;
        width: 100%;
    }
    .divTarjetaSabiasQue{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: fit-content;
        padding-bottom: 15vh;
    }
    .tarjetaSabiasQue{
        padding: 2%;
        width: 30vw;
        height: auto;
    }
    .textoSabiasQueTarjetas{
        position: absolute;
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%);
        color: white; 
        text-align: center;
        padding: 0; 
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 3vw;
        width: 100%;
        padding: 1px;
    }

    #graficas{
        background-image: url(../assets/fondoSeis.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100vw;
        height: fit-content;
        padding: 0;
        padding-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        scroll-margin-top: 5vh;
    }
    .divCarrusel{
        width: 100vw;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .divTituloGraficas{
        position: relative;
        display: inline-block;
        width: fit-content;
        margin-bottom: 10%;
    }
    .imgTituloGraficaChico{
        width: 50vw;
        display: block;
        height: auto;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .textoTituloGraficas{
        position: absolute;
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%);
        color: black; 
        text-align: center;
        padding: 0; 
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        font-size: 3vw;
        width: 100%;
        margin: 0;
    }
    .grafica{
        width: 80vw;
        height: auto;
        margin-bottom: 5%;
    }
    .verGrafico{
        font-family: "Poppins", sans-serif;
        font-size: 3vw;
        margin-bottom: 5%;
    }
    .divComentarioGraficasDesempleo{
        position: relative;
        display: inline-block;
        width: fit-content;
        height: fit-content;
    }
    .imgComentarioDesempleo{
        width: 70vw;
        height: fit-content;
    }
    .textoComentarioGraficas{
        position: absolute;
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%);
        color: black; 
        text-align: center;
        padding: 0; 
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 2vw;
        width: 100%;
        margin: 0;
    }
    .divTarjetasGraficas{
        width: 100vw;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .divComentarioGraficasTarjetas{
        position: relative;
        display: inline-block;
        width: fit-content;
        margin-bottom: 5%;
    }
    .imgComentarioGraficas{
        width: 70vw;
        height: fit-content;
    }
    .contenedorTarjetas{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .imgTarjetasGraficas{
        width: 30vw;
        height: auto;
        margin-left: 1%;
        margin-right: 1%;
    }
    .parrafoGraficas{
        position: absolute;
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%);
        color: white; 
        text-align: center;
        padding: 0; 
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 2vw;
        width: 95%;
        margin: 0;
    }
    .imgComentarioGraficas{
        width: 70vw;
        height: fit-content;
    }
    #buttonCarousel{
        color: black;
    }
    .modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
      }
      
      .modal-content {
        position: relative;
        background-color: white;
        padding: 20px;
        text-align: center;
        width: 95vw;
        height: fit-content;
        overflow: hidden;
        margin: auto;
      }
      
      .modal-content img {
        width: 100%;
        height: auto;
        object-fit: contain; 
      }
      
      .close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 24px;
        color: white;
        cursor: pointer;
      }



    #estudiarRinde{
        background-image: url(../assets/fondoSiete.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100vw;
        height: fit-content;
    }
    #divTituloER{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: fit-content;
        width: 100vw;
        margin: 0;
        padding: 0%;
    }
    .tituloER{
        width: 70vw;
        height: auto;
    }
    .divERTarjetas{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: fit-content;
        padding-top: 10vh;
        padding-bottom: 10vh;
    }
    .eRTarjetaUno{
        width: 30vw;
        height: auto;
        margin-top: 0%;
        margin-bottom: 0%;
        padding: 1%;
    }
    .eRTarjetaDos{
        width: 30vw;
        height: auto;
        margin-bottom: 0%;
        padding: 1%;
    }
    .eRTarjetaTres{
        width: 30vw;
        height: auto;
        margin-bottom: 0%;
        padding: 1%;
    }
    .textoERTarjetas{
        position: absolute;
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%);
        color: white; 
        text-align: center;
        padding: 0; 
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 3vw;
        width: 100%;
        padding: 1px;
        word-wrap: break-word;
    }
    .hover-effect{
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 2vw;
        width: 95%;
        padding: 2px;
    }


    #contacto{
        background-image: url(../assets/contactoFondo.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100vw;
        height: fit-content;
    }
    .divContacto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: fit-content;
        padding-top: 10vh;
        padding-bottom: 10vh;
    }
    .divLogosFooterUdelar{
        display: flex;
        justify-content: center;
        width: 100vw;
    }
    .logosFooterUdelar{
        position: relative;
        width: 90vw;
        height: auto;
        right: auto;
        margin: 0%;
        margin-bottom: 1%;
    }
    .imgContacto{
        width: 80vw;
    }
    .imgContactoTres{
        width: 80vw;
    }
    .imgContactoDos{
        transform: rotate(45deg);
        width: 20vw;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .divContactoDos{
        position: relative;
        display: inline-block;
    }
    .divTextosContacto{
        position: absolute;
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%);
        color: white; 
        text-align: center;
        padding: 15px; 
    }
    .textoContactoUno{
        color: white;
        text-decoration: none;
        font-size: medium;
        font-weight: bold;
    }
    .textoContactoDos{
        color: white;
        text-decoration: none;
        font-size: 4vw;
        font-weight: bold;
    }
    .textoContactoDos:hover{
        text-decoration: underline;
    }
}
@media screen and (min-width: 0px) and (max-width: 320px) {
    .textoContacto{
        color: white;
        text-decoration: none;
        font-size: 3vw;
        font-weight: bold;
    }
}